body{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

span.severe{
    padding: 3px;
    background-color: salmon;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: lightyellow;
}

span.favorable{
    padding: 3px;
    background-color: lightgreen;
    color:white;
}

.search-column{
    background-color: #D3D3D3;
}

.list-group-item{
    line-height: 0.5;
    border: none;
}
.card-body{
    flex: auto
}
